%nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  = link_to t('header.homepage'), respondent_root_path, class: 'navbar-brand'
  %div.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        = link_to t('header.profile'), respondent_profile_path, class: 'nav-link'

    - if current_user
      %div
        %div{style: "color: white"}= current_user.phone
        = link_to t('header.log_out'), respondent_session_path, method: :delete, class: 'btn btn-outline-primary'
