%nav.navbar.navbar-dark.bg-dark
  = link_to t('header.homepage'), admin_root_path, class: 'navbar-brand'
  %ul.navbar-nav
    - if current_user
      %div
        %div{style: "color: white"}= current_user.email 
        = link_to t('header.log_out'), admin_session_path, method: :delete 