%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  = link_to t('header.homepage'), root_path, class: 'navbar-brand'
  %div.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %div
        = link_to t('header.log_in_respondent'), new_respondent_session_path
        = link_to t('header.log_in_admin'), new_admin_session_path

